body {
    font-family: ui-monospace;
}

.doc-view {
    padding: 30px;
    position: relative;

    pre{
        margin-left: 50px;
    }

    header {
        font-size: 28px;
        padding: 20px 0;
        font-weight: 800;
    }

    h2 {
        font-size: 20px;
        line-height: 2em;
        padding: 20px 0;
    }

    h3 {
        font-size: 16px;
        line-height: 2em;
        padding: 15px 0;
    }

    h4 {
        font-size: 12px;
        padding: 15px 0 5px 0;
        text-decoration: overline;
    }

    p {
        line-height: 1.6em;
        text-indent: 2em;
        color: #3c3939;
        font-weight: 400;
        font-size: 14px;
        margin: 10px 0;
    }

    ul,
    ol {
        font-size: 13px;
        line-height: 2.4em;
        margin-left: 4em;
        color: #3c3939;
    }

    ol>li {
        list-style-type: decimal;
    }

    ul>li {
        list-style-type: disc;
    }

    .warn {
        font-size: 12px;
        color: #dac305;
        font-weight: 400;
        padding: 0 3px;
    }

    .important {
        color: rgb(255, 0, 0);
        font-weight: 800;
        padding: 0 3px;
    }
}

#fixed-menu-id {

    h2,
    h3,
    h4 {
        font-size: 12px;
        cursor: pointer;
        margin-top: 10px;
        font-weight: 400;
    }

    h2:hover,
    h3:hover,
    h4:hover {
        text-decoration: underline;
    }

    h2 {
        padding-left: 1em;
    }

    h3 {
        padding-left: 2em;
    }

    h4 {
        padding-left: 3em;
    }
}